
.content {
    width: 1140px;
    min-height: 2500px;
    margin: auto;
}

th {
    text-align: center; /** 设置水平方向居中 */
    vertical-align: middle; /** 设置垂直方向居中 */
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.monthdata {
    width: 900px;
    float: left;
}


.right_panel {
    float: right;
    margin-top: 36px;
    width: 230px;
}

button {
    width: 200px;
    margin: auto;
    margin-top: 10px;


}