{% extends 'nav.html' %}
{% block title %}
{% endblock %}
{% block main %}
    <title>省份信息</title>
    <script type="text/javascript" src="/static/js/provinces.js"></script>
    <script language="javascript"
            src="https://webapi.amap.com/maps?v=1.4.15&key=31d6907e287a453c3299a1279c9e219a&plugin=Map3D,AMap.DistrictLayer,AMap.Scale,AMap.ToolBar"></script>
    <link rel="stylesheet" href="/static/css/provinces.css"/>
    <div class="content">
        <div>
            <div id="indexmap" class="map" tabindex="0">
                <div class="color_bar">
                    <div>优</div>
                    <div>良</div>
                    <div>轻度污染</div>
                    <div>中度污染</div>
                    <div>重度污染</div>
                </div>
            </div>
            <div class="right_panel">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">统计数据</h3>
                    </div>
                    <div class="panel-body">
                        <div id="container" style="height: 250px;margin: 0 auto"></div>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">数据下载</h3>
                    </div>
                    <div class="panel-body">
                        <a href="/api/get_provinces_aqi/?provinces={{ data['provinces'] }}">
                            <button type="button" class="btn btn-info">
                                下载所有数据
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="title">空气质量历史数据查询</div>
        <ul class="breadcrumb">
            {% for c in data['result'] %}
                <li><a href="/monthdata/?city={{ c['city'] }}"> {{ c['city'] }} </a></li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}